/* 
form {
    background-color: #333;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #555;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #bbb;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #444;
    color: #f0f0f0;
  }
  
  input:focus {
    outline: none;
    border-color: #777;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #666;
  }
  
 

   */